<h1>NEW GAME</h1>

<div style="display: flex; margin: 20px;">
<% @letters.each do |letter| %>
<h2 style="font-size:25px; background-color: blue; color: white; font-weight: bold; margin: 10px; padding:10px;"><%= letter %></h2>
<% end %>
</div>
